ul {
    display:flex;
    flex-shrink: 0;
}


body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink:0;

}

.card {
    width: 18vw;
    height: 58vh;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    background-color: white;
    margin-top: 70px;
    box-shadow: 5px, 5px, 5px, Dark-blue hsl(218, 44%, 22%) inset;
}

img {
    width: 255px;
    height: 240px;
    border-radius: 3%;
    
}

h1 {
    font-size: 20px;
    color:hsla(215, 19%, 23%, 0.961);
    font-weight: 700;
    margin-left: 6px;
    margin-right: 6px;
}

h2 {
    font-size: 15px;
    color:hsl(220, 15%, 55%);
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    margin-top: 0;
}